

    <!-- hero-section start here  -->
    <section class="hero-section">
        <div class=" container-fluid">
            <div class="row">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class=" d-md-flex">
                                <div class="col-md-5 text-center my-auto">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/banner-13-8-left-img1.png?v=70938892808681907551660382635" alt="banner-img1">
                                    <button class="shop-btn ">SHOP NOW</button>
                                </div>
                                <div class="col-md-7">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/banner-13-8-right-img1.png?v=170897814466330363701660380402" alt="banner-img2">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class=" d-md-flex">
                                
                                <div class="col-12">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/slider-player.jpg?v=83151965064644042691660936295" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class=" d-md-flex">
                                <div class="col-md-5 text-center my-auto">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/banner-13-8-left-img1.png?v=70938892808681907551660382635" alt="">
                                    <button class="shop-btn ">SHOP NOW</button>
                                </div>
                                <div class="col-md-7">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/banner-13-8-right-img1.png?v=170897814466330363701660380402" alt="">
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
    </section>
    <!-- hero-section end here  -->

    <!-- play-diffrent-section start  -->
    <section class="play-diffrent-section my-5">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <img src="https://cdn.shopify.com/s/files/1/0057/8958/1381/files/c.png?v=1660216653" alt="blue-tees-golf">
                    <h3 class="change_way_title ">
                        <p>PLAY <strong>DIFFERENT</strong></p>
                    </h3>
                    <p class="golf-editor">GOLF EDITOR’S CHOICE 2022</p>
                </div>
            </div>
        </div>
    </section>
    <!-- play-diffrent-section end  -->

    <!-- rated-slope-section start  -->
    <section class="rated-slope-section my-5">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-11 mx-auto subrated-slope-section d-lg-flex ">
                    <div class="col-lg-6 mx-auto d-none d-lg-flex mt-auto text-center ">
                        <img src="https://cdn.shopify.com/s/files/1/0057/8958/1381/files/Group_19675.png?v=1660668391" alt="golf-editor-choice.webp">
                    </div>
                    <div class="col-lg-6 m-auto text-center py-5">
                        <img class="headline-logo"  src="https://cdn.shopify.com/s/files/1/0057/8958/1381/files/Group_212_3.png?v=1655217789">
                        <p class="sub_title">#1 RATED SLOPE RANGEFINDER 2021-22</p>
                        <div class="row top-icon-section">
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon">
                                    <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                        </div>
                        <div class="price my-5">
                            <span class="money">Starting at $199</span>
                        </div>
                        <div class="button mt-5">
                            <a href="" class="shopcollection">
                                Shop Now
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 mx-auto d-flex d-lg-none mt-auto text-center ">
                        <img src="./Assets/images//golf-editor-choice.webp" alt="golf-editor-choice.webp">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- rated-slope-section end  -->

    <!-- shop-collection-section start -->
    <section class="shop-collection-section">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-11 mx-auto d-lg-flex ">
                <div class="col-lg-6  text-center pe-4">
                    <div class="player-megnetic-section ">
                    <img class="new_top_logo" src="https://cdn.shopify.com/s/files/1/0057/8958/1381/files/Group_18086.png?v=1655302647" alt="player-megnetic"> <br>
                    <img  class="product_box" src="https://cdn.shopify.com/s/files/1/0057/8958/1381/files/PlayerSpeaker_8_1.png?v=1659169654" alt="PlayerSpeaker_8_1">
                    <p class="price">STARTING AT $129</p>
                    <div class="button">
                        <a href="" class="shopcollection">
                            SHOP COLLECTION
                        </a>
                    </div>
                </div>
                </div>
                <div class="col-lg-6  text-center ps-lg-4 my-5 my-lg-0">
                    <div class="series-laser-section">
                    <img class="new_top_logo"  src="https://cdn.shopify.com/s/files/1/0057/8958/1381/files/Group_18085.png?v=1655302923" alt="series2-laser"> <br>
                    <img class="product_box" src="https://cdn.shopify.com/s/files/1/0057/8958/1381/files/Series2-Family_2x_1.png?v=1655302935" alt="Series2-camera">
                    <p class="price">STARTING AT $129</p>
                    <div class="button">
                        <a href="" class="shopcollection">
                            SHOP COLLECTION
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- shop-collection-section end  -->

    <div class="free_shipping_bg">
      
          
        <div class="free_shipping_box">
            
                <div class="icon"> <img src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Vector_4.png?v=1655305147"></div>
            
    
            
                <p><span>Free 1 Year</span><br>30% OFF UPGRADES</p>
            
        </div>
    
        <div class="free_shipping_box">
            
                <div class="icon"> <img src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Union.png?v=1655305135"></div>
            
    
            
                <p><span>Free Shipping</span><br>﻿Orders Over $50</p>
            
        </div>
    
        <div class="free_shipping_box">
            
                <div class="icon"> <img src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Vector_3.png?v=1655305123"></div>
            
    
            
                <p><span>60 Day Trial</span><br>﻿Hassle Free Returns</p>
            
        </div>
    
    
    </div>
    
    <section class="play-diffrent-section compro my-5">

    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h3 class="change_way_title "><p><strong>ZERO</strong> COMPROMISE</p></h3>                                
                <p>Premium Golf Technology</p> 
            </div>
        </div>
    </div>
</section>

    
 <!-- rated-slope-section start  -->
 <section class="rated-slope-section my-5">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-11 mx-auto subrated-slope-section d-lg-flex ">
                <video width="100%" height="100%" class="video-div py-5 " data-type="mp4" src="https://cdn.shopify.com/videos/c/o/v/02839508d26f4ff783191a68d17cff15.mp4" loop="" muted="" playsinline="" autoplay=""></video>
            </div>
        </div>
    </div>
</section>
<!-- rated-slope-section end  -->

<!-- shop-collection-section start -->
<section class="shop-collection-section">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-11 mx-auto d-lg-flex ">
            <div class="col-lg-6  text-center pe-4">
                <div class="player-megnetic-section ">
                    <video  width="100%" height="100%"  class="video-div" data-type="mp4" src="https://cdn.shopify.com/videos/c/o/v/f5518f26bcee40c68cbead6a0350ef32.mp4" loop="" muted="" playsinline="" autoplay=""></video>
            </div>
            </div>
            <div class="col-lg-6  text-center ps-lg-4 my-5 my-lg-0">
                <div class="player-megnetic-section ">
                    <video  width="100%" height="100%"  class="video-div" data-type="mp4" src="https://cdn.shopify.com/videos/c/o/v/5184ee259122471ab49ea9064ebcc891.mp4" loop="" muted="" playsinline="" autoplay=""></video>
            </div>
        </div>
        </div>
    </div>
</section>
<!-- shop-collection-section end  -->



<section class="follow-section">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-11 mx-auto d-lg-flex mb-5">
                <div class="follow_us_bg" style="background:url(//cdn.shopify.com/s/files/1/0057/8958/1381/files/DSC_8723-Edit_copy_1.png?v=1655305378) no-repeat center center / cover;">
                    <div class="follow_us_text_box">
                          
                            <h2>FOLLOW <span>US</span></h2>                                
                        
                        <div class="follow_icon">
                              
                                <a href="https://www.facebook.com/blueteesgolf/"><img src="//cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/fb-icon.svg?v=159817696035120092841655115872"></a>
                            
                              
                                <a href="https://www.instagram.com/blueteesgolf"><img src="//cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/in-icon.svg?v=162062994991129067981655115843"></a>
                            
                              
                                <a href="https://www.youtube.com/channel/UCvvcGQETjy021ZYkg241I_g"><img src="//cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/you-icon.svg?v=173387528290930052411655115859"></a>
                            
                              
                                <a href="#"><img src="//cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/j-icon.svg?v=106995139673785781321655115866"></a>
                            
                              
                                <a href="#"><img src="//cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/chat-icon.svg?v=57052002362302270821655115848"></a>
                            
                            
                        </div>
                          
                          
                            <h3>@blueteesgolf</h3>                                
                        
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>
</section>
{% schema %}
{
  "name": "homepage",
  "settings": [ ],
  "presets": [
    {
      "name": "homepage",
      "category": "home"
    }
  ]
}

{% endschema %}
