

    <!-- hero-section start here  -->
    <section class="hero-section">
        <div class=" container-fluid">
            <div class="row">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class=" d-md-flex">
                                <div class="col-md-5 text-center my-auto">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/banner-13-8-left-img1.png?v=70938892808681907551660382635" alt="banner-img1">
                                    <button class="shop-btn ">SHOP NOW</button>
                                </div>
                                <div class="col-md-7">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/banner-13-8-right-img1.png?v=170897814466330363701660380402" alt="banner-img2">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class=" d-md-flex">
                                
                                <div class="col-12">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/slider-player.jpg?v=83151965064644042691660936295" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class=" d-md-flex">
                                <div class="col-md-5 text-center my-auto">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/banner-13-8-left-img1.png?v=70938892808681907551660382635" alt="">
                                    <button class="shop-btn ">SHOP NOW</button>
                                </div>
                                <div class="col-md-7">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/banner-13-8-right-img1.png?v=170897814466330363701660380402" alt="">
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
    </section>
    <!-- hero-section end here  -->

    <!-- play-diffrent-section start  -->
    <section class="play-diffrent-section my-5">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <img src="./Assets/images/blue-tees-golf.webp" alt="blue-tees-golf">
                    <h3 class="change_way_title ">
                        <p>PLAY <strong>DIFFERENT</strong></p>
                    </h3>
                    <p class="golf-editor">GOLF EDITOR’S CHOICE 2022</p>
                </div>
            </div>
        </div>
    </section>
    <!-- play-diffrent-section end  -->

    <!-- rated-slope-section start  -->
    <section class="rated-slope-section my-5">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-11 mx-auto subrated-slope-section d-lg-flex ">
                    <div class="col-lg-6 mx-auto d-none d-lg-flex mt-auto text-center ">
                        <img src="./Assets/images//golf-editor-choice.webp" alt="golf-editor-choice.webp">
                    </div>
                    <div class="col-lg-6 m-auto text-center py-5">
                        <img src="./Assets/images/three-max.webp" alt="three-max" class="three-max-rated-slop">
                        <p class="sub_title">#1 RATED SLOPE RANGEFINDER 2021-22</p>
                        <div class="row top-icon-section">
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon">
                                    <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                            <div class="col-3 rated-shop-icon">
                                <div class="top-icon"> <img
                                        src="//cdn.shopify.com/s/files/1/0057/8958/1381/files/Frame-1.png?v=1654149075">
                                </div>
                                <p>Crystal Clear Display</p>
                            </div>
                        </div>
                        <div class="price my-5">
                            <span class="money">Starting at $199</span>
                        </div>
                        <div class="button mt-5">
                            <a href="" class="shopcollection">
                                Shop Now
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 mx-auto d-flex d-lg-none mt-auto text-center ">
                        <img src="./Assets/images//golf-editor-choice.webp" alt="golf-editor-choice.webp">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- rated-slope-section end  -->

    <!-- shop-collection-section start -->
    <section class="shop-collection-section">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-11 mx-auto d-lg-flex ">
                <div class="col-lg-6  text-center pe-4">
                    <div class="player-megnetic-section ">
                    <img src="./Assets/images/player-megnetic.webp" alt="player-megnetic"> <br>
                    <img src="./Assets/images/PlayerSpeaker_8_1.webp" alt="PlayerSpeaker_8_1">
                    <p class="price">STARTING AT $129</p>
                    <div class="button">
                        <a href="" class="shopcollection">
                            SHOP COLLECTION
                        </a>
                    </div>
                </div>
                </div>
                <div class="col-lg-6  text-center ps-lg-4 my-5 my-lg-0">
                    <div class="series-laser-section">
                    <img src="./Assets/images/series2-laser.webp" alt="series2-laser"> <br>
                    <img src="./Assets/images/Series2-camera.webp" alt="Series2-camera">
                    <p class="price">STARTING AT $129</p>
                    <div class="button">
                        <a href="" class="shopcollection">
                            SHOP COLLECTION
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- shop-collection-section end  -->



{% schema %}
{
  "name": "homepage",
  "settings": [ ],
  "presets": [
    {
      "name": "homepage",
      "category": "home"
    }
  ]
}

{% endschema %}
